img
{
position: absolute;
width: 800px;
right: 400px;
top: 15%;
}
.head
{
    z-index: 10;
}
.eye
{
    z-index: 20;
}
.hair
{
    z-index: 30;
}
.mouth{
    z-index: 20;
}
.nose{
    z-index: 20;
}
/*
.button{
    position: relative;
    z-index: 100;
    top: 420px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #414141;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px rgb(29, 29, 29);
  }
  
  .button:hover {background-color: #3f3f3f}
  
  .button:active {
    background-color: #1e1f1e;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
*/
  .imagebox{
    position: absolute;
    width: 400px;
    height: 400px;
    top: 70px;
    left: 560px;
    border: 6px solid gray;
    padding: 1px solid gray;
  }

  .title{
      text-align: center;
      font-size: 50px;
  }
  
  .nav .button{
      position: relative;
      top: 420px;
      background-color: #4CAF50; /* Green */
      border: 1px solid green;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      float: left;
  }